ol, ol li { margin-left: 0; padding-left: 0; }

ol {
  text-align: left;
  padding-left: 2em;
  padding-right: 1.2em;
  text-overflow: clip;
}

div {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
